body {
background-color: #e0ffff;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{
  color: #fa8072;
}
h3{
  color: #fa8072;
}
img {
  height: 200px;
}
